main{
    background-color: #9fccfb;
    padding-bottom: 1px;
}
h1{
    text-align: center;
    font-family: 'Zilla Slab';
    padding-bottom: 10px;
    
}
.def{
    line-height: 15px;
    padding-bottom: inherit;
}
.nomDef{
    font-family: 'Zilla Slab';
    text-decoration: underline;
    padding-left: 30px;
    font-weight: bold;
}
.texteDef{
    font-family: 'Zilla Slab';
    padding-left: 10px;
    padding-right: 10px;
}
.accueil2{
    padding-top: 110px;
    padding-left:  10px;
}
.defA{
    line-height: 15px;
    padding-bottom: 15px;
}

h3{
    text-align: center;
    font-family: 'Zilla Slab';
    
}
.auteur{
    text-align: center;
    font-family: 'Zilla Slab';
}
.imgsite1{
    
    height: 180px;
    
}
.site{
    border: 2px solid;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    margin-bottom: 40px;
}
.gosite{
    
    color:black;
    text-decoration: none;
    
    font-family: 'Zilla Slab';
font-style: normal;
font-weight: bold;
font-size: 14px;




color: #000000;

padding-bottom: 5px;

}
.accueil{
    padding-top: 10px;
    padding-left:  10px;
}
.txt1{
    font-family: 'Zilla Slab';
    font-size: 17px;
    padding: 20px;
}
.ligne{
    margin-left: 75px;
    margin-right: 75px;
    border-top: 2px solid #000000
}
.imgmmi{
   height: 240px;
   
   margin: 20px;
}

.formulaire {
    
    margin: 40px;
  }
.texte_contacte{
    font-family: 'Zilla Slab';
    font-weight: bold;
    padding-left: 10px;
    line-height: 2;
    
    
}
.rectangle_contacte{
    font-family: 'Zilla Slab';
    height: 30px;
    width: 295px;
    border: none;
    background-color: #e9e9e9;
    border-radius: 5px 5px 5px 5px;

}
.rectangle_com{
    font-family: 'Zilla Slab';
    height: 300px;
    width: 295px;
    border: none;
    background-color: #e9e9e9;
    border-radius: 5px 5px 5px 5px;

}
.bouton_contacte_envoyer{
    border: none;
    font-family: 'Zilla Slab';
    font-size: medium;
    margin-left: 110px;
    border-radius: 5px 5px 5px 5px;
    
}
.bloc{
    padding-bottom: 20px;
    
}
.envoie{
    padding: 5px;
}