footer{
    background-color: #903F5D;
    color: #FFFFFF;
    margin-top: 0px;
    font-family: 'Zilla Slab';

}
footer a {
    color: #FFFFFF;
    text-decoration: underline;
}
.frang{
    margin-left: 180px;
    gap: var(--space3x);
    margin-top: 0px;
    align-items: center;
    display: flex;
    
}
.mailto{
    margin-left: 40px;
    margin-top: 2px;
}
.mail{
    margin-left: 15px;
}
.mention{
    margin-left: 40px;
}
.legal{
    margin-left: 15px;
}
.MMI{
    box-sizing: border-box;
    display: flex;
    gap: var(--space3x);
    align-items: center;
    margin-left: 190px;
}

