footer{
    background-color: #903F5D;
    color: #FFFFFF;
}
footer a {
    color: #FFFFFF;
    text-decoration: underline;
}
.frang{
    gap: 1;
}
.mailto{
    margin-left: 4px;
    margin-top: 2px;
}