footer{
    background-color: #903F5D;
    color: #FFFFFF;
    margin-top: 0px;
    font-family: 'Zilla Slab';

}
footer a {
    color: #FFFFFF;
    text-decoration: underline;
}
.frang{
    padding-left: 14px;
   font-size: larger;
    margin-top: 0px;
   justify-content: space-evenly;
    display: flex;
    padding-top: 10px;
    
}
.mailto{
    margin-left: 40px;
    
}
.mail{
    margin-left: 15px;
}
.mention{
    margin-left: 40px;
}
.legal{
    padding-left: 15px;
    padding-right: 55px;

}
.MMI{
    box-sizing: border-box;
    display: flex;
    gap: var(--space3x);
    align-items: center;
    margin-left: 220px;
    padding-bottom: 5px;
}
.nom{
    font-size: smaller;
}

