header{
    background: linear-gradient(#a9003e, #FF005E); 
}

.menu{
    
left: 85.27%;
right: 50%;
top: 30.2%;
bottom: 42.95%;
}
.Nomsite{
    
   

        top: 34.9%;
        bottom: 36.24%;
        
        /* Titre du site */
        
        font-family: 'Akronim';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 55px;
        
        
        text-align: center;
        
        color: #FFFFFF;
        
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
}