main{
    background-color: #FFD467;
    padding-bottom: 1px;
}

h1{
    text-align: center;
    font-family: 'Zilla Slab';
    font-size: 40;

}
h2{
    text-align: center;
    font-style: italic;
    font-family: 'Zilla Slab';
    font-size: 24;
}
.titre{
    text-align: center;
    font-family: 'Zilla Slab';
}
.header_menuBtn {
    position: relative;
    z-index: 1;
    align-content: flex-end;
    appearance: none;
    outline: none;
    border:none;
    background: none; 
  }
.accueil{
    padding-top: 110px;
    padding-left:  10px;
}
.lienExt{
    text-decoration: underline; 
}
.lienDef{
    color: #2178A9;
}
.img_s{
    line-height: 1;
    display: flex;
    width: max-content;
    flex-direction: column;
    margin: auto;
}
.source{
   line-height: 0; 
   margin-bottom: 40px;
   
   font-family: 'Zilla Slab';
}
.texte1{
    margin:  auto;
  display: block;
margin-left: auto;
margin-right: auto;
text-align: left;
  
  
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 30px;
  gap: 10px;
  font-size: 17px;
  font-family: 'Zilla slab';
}
.img_lieu_1{
    max-width: 100%;
    display: block;
    width: 350px;
    height: 201px;
    left: 26px;
    top: 519px;
    align-items: center;
    margin:  auto;
}
.texte2{
    margin:  auto;
  display: block;
margin-left: auto;
margin-right: auto;
text-align: left;
  
  
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 30px;
  gap: 10px;
  font-size: 17px;
  font-family: 'Zilla slab';
}
.img_lieu_2{
    max-width: 100%;
    display: block;
    width: 350px;
    height: 217px;
    left: 24px;
    top: 1067px;
    align-items: center;
    margin:  auto;
}
.texte3{
    margin:  auto;
  display: block;
margin-left: auto;
margin-right: auto;
text-align: left;
  
  
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 30px;
  gap: 10px;
  font-size: 17px;
  font-family: 'Zilla slab';

}
.img_lieu_3{
    max-width: 100%;
    display: block;
    width: 307px;
    height: 247px;
    left: 33px;
    top: 1561px;
    align-items: center;
    margin:  auto;
}
.texte4{
    margin:  auto;
  display: block;
margin-left: auto;
margin-right: auto;
text-align: left;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 30px;
  gap: 10px;
  font-size: 17px;
  font-family: 'Zilla slab';
}
.img_film_1{
    max-width: 100%;
    display: block;
    width: 300px;
    height: 406px;
    left: 39px;
    top: 623px;
    align-items: center;
    margin:  auto;
}
.img_film_2{
    max-width: 100%;
    display: block;
    width: 330px;
    height: 166px;
    left: 19px;
    top: 1585px;
    align-items: center;
    margin:  auto;
}
.img_film_3{
    max-width: 100%;
    display: block;
    width: 335px;
    height: 176px;
    left: 19px;
    top: 1585px;
    align-items: center;
    margin:  auto;
}
.img_film_4{
    max-width: 100%;
    display: block;
    width: 335px;
    height: 139px;
    left: 19px;
    top: 2703px;
    align-items: center;
    margin:  auto;
}
.img_film_5{
    max-width: 100%;
    display: block;
    width: 320px;
    height: 190px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}
.filmo{
    margin:  auto;
  display: block;
margin-left: auto;
margin-right: auto;
text-align: left;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 30px;
  gap: 10px;
  font-size: 17px;
  font-family: 'Zilla slab';
}
.img_filmo{
    max-width: 100%;
    display: block;
    width: 275px;
    height: 385px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}
.img_filmo2{
    max-width: 100%;
    display: block;
    width: 275px;
    height: 395px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}
.img_filmo3{
    max-width: 100%;
    display: block;
    width: 275px;
    height: 395px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}
.img_filmo4{
    max-width: 100%;
    display: block;
    width: 275px;
    height: 375px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
    
}
.img_msc_1{
    max-width: 100%;
    display: block;
    width: 300px;
    height: 181px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}
.img_msc_2{
    max-width: 100%;
    display: block;
    width: 300px;
    height: 300px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}
.img_msc_3{
    max-width: 100%;
    display: block;
    width: 330px;
    height: 250px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}
.img_livre_1{
    max-width: 100%;
    display: block;
    width: 248px;
    height: 338px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}
.img_livre_2{
    max-width: 100%;
    display: block;
    width: 339px;
    height: 240px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}
.img_livre_3{
    max-width: 100%;
    display: block;
    width: 204px;
    height: 307px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}
.img_esp_1{
    max-width: 100%;
    display: block;
    width: 330px;
    height: 200px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}
.img_esp_2{
    max-width: 100%;
    display: block;
    width: 340px;
    height: 140px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}
 .img_esp_3{ 
    max-width: 100%;
    display: block;
    width: 342px;
    height: 193px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
    
}
.img_regret_1{
    max-width: 100%;
    display: block;
    width: 342px;
    height: 230px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}
.img_regret_2{
    max-width: 100%;
    display: block;
    width: 346px;
    height: 194px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}
 .img_regret_3{ 
    max-width: 100%;
    display: block;
    width: 345px;
    height: 202px;
    left: 28px;
    top: 3135px;
    align-items: center;
    margin:  auto;
}





