main{
    background: linear-gradient(#5E77FF, #D9B4E5, #71BEDF, #FCC98D);
    padding-top: 100px;
    
}
.titrehome{
    font-family: 'Akronim';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 63px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

text-align: center;
}

.voir{
    text-align: center;
    color:black;
    text-decoration: none;
    
    font-family: 'Zilla Slab';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
align-items: center;

color: #000000;

border: 2px solid #000000;
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;

}

a{
    text-decoration: none;
    color: black;
}
.image1{
width: 321px;
height: 167px;
left: 25px;
top: 568px;
right: 20%;
}
.image2{
width: 318px;
height: 170px;
left: 31px;
top: 1204px;
}
.image3{
    width: 252px;
height: 378px;
left: 59px;
top: 1875px;
}
.image4{
    width: 219px;
height: 341px;
left: 71px;
top: 2710px;
}
.image5{
    width: 318px;
height: 163px;
left: 27px;
top: 3498px;
}
.image6{
    width: 318px;
height: 151px;
left: 27px;
top: 4133px;
}
.introduction{
    width: 340px;

left: 38px;
top: 184px;

/* texte article */

font-family: 'Zilla slab';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 29px;

color: #000000;


margin: auto;
margin-top: 60px;
}
.Nomsite{
   

top: 34.9%;
bottom: 36.24%;

/* Titre du site */

font-family: 'Akronim';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 55px;


text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.rectanglehome1{
    margin:  auto;
  display: block;
  width: 290px;
  height: 100px;
  left: 20px;
  top: 250px;
  background: #f0f0f0;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 17px;
  gap: 10px;
  font-size: 17px;
  font-family: 'Zilla slab';
}
.rectanglehome2{
    margin:  auto;
  display: block;
  width: 290px;
  height: 125px;
  left: 20px;
  top: 250px;
  background: #f0f0f0;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 17px;
  gap: 10px;
  font-size: 17px;
  font-family: 'Zilla slab';
}
.rectanglehome3{
    margin:  auto;
  display: block;
  width: 290px;
  height: 100px;
  left: 20px;
  top: 250px;
  background: #f0f0f0;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 17px;
  gap: 10px;
  font-size: 17px;
  font-family: 'Zilla slab';
}
.rectanglehome4{
    margin:  auto;
  display: block;
  width: 290px;
  height: 105px;
  left: 20px;
  top: 250px;
  background: #f0f0f0;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 17px;
  gap: 10px;
  font-size: 17px;
  font-family: 'Zilla slab';
}
.rectanglehome5{
    margin:  auto;
  display: block;
  width: 290px;
  height: 100px;
  left: 20px;
  top: 250px;
  background: #f0f0f0;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 17px;
  gap: 10px;
  font-size: 17px;
  font-family: 'Zilla slab';
}
.rectanglehome6{
    margin:  auto;
  display: block;
  width: 290px;
  height: 120px;
  left: 20px;
  top: 250px;
  background: #f0f0f0;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 17px;
  gap: 10px;
  font-size: 17px;
  font-family: 'Zilla slab';
}
