main{
    background: linear-gradient(#5E77FF, #D9B4E5, #71BEDF, #FCC98D);
    
}
.titrehome{
    font-family: 'Akronim';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 63px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

text-align: center;
}
h1{
    text-align: center;
    font-size: 48;
}

.voir{
    text-align: center;
    color:black;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}
.image1{
width: 321px;
height: 167px;
left: 25px;
top: 568px;
right: 20%;
}
.image2{
width: 318px;
height: 170px;
left: 31px;
top: 1204px;
}
.image3{
    width: 252px;
height: 378px;
left: 59px;
top: 1875px;
}
.image4{
    width: 219px;
height: 341px;
left: 71px;
top: 2710px;
}
.image5{
    width: 318px;
height: 163px;
left: 27px;
top: 3498px;
}
.image6{
    width: 318px;
height: 151px;
left: 27px;
top: 4133px;
}
.introduction{
    width: 307px;
height: 196px;
left: 38px;
top: 184px;

/* texte article */

font-family: 'Zilla slab';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;


margin: auto;
}
.Nomsite{
   

top: 34.9%;
bottom: 36.24%;

/* Titre du site */

font-family: 'Akronim';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 55px;


text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
